.container_info {
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    padding: 5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 9px 1px #0b486b;

    article {

        .name_company {
            font-size: 4rem;
            font-weight: bold;
            text-transform: uppercase;
        }
        .name_slogan {
            font-size: 1.8rem;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        .description {
            font-size: 1.5rem;
            max-width: 40rem;
            margin: 10px 0 5px 0;
        }
        .ubication {
            font-size: 1.2rem;
            font-style: italic;
        }


        @media (max-width: 600px) {
            text-align: center;
        }
    }
    .container_infoNetwork {
        display: flex;
        flex-flow: column wrap;
        grid-gap: 1rem;

        .btn_linkedIn {
            display: block;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
        .btn_instagram {
            display: block;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }

        @media (max-width: 600px) {
            flex-flow: row wrap;
            margin-top: 2rem;
        }
    }

    @media (max-width: 600px) {
        width: 90%;
        padding: 2rem;
    }
}