.container_logo {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background-color: var(--color-acrylicInvert);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);

    picture {
        max-width: 10rem;
        width: 100%;
        height: 100%;
        z-index: 10;

        transform: translateX(65%);
        animation: picture-move-x 1.5s ease forwards;
        animation-delay: 2.3s;

        @media (max-width: 480px) {
            animation: picture-move-x-mobile 1.5s ease forwards;
            animation-delay: 2.3s;
        }
    }

    .container_presentation {
        transform: translateX(2rem);

        .name_company {
            font-size: 2.8rem;
            font-weight: 500;
            text-transform: uppercase;
            animation: fadeIn 1.5s ease forwards;
            animation-delay: 2.3s;

            @media (max-width: 768px) {
                animation: fadeIn 1.5s ease forwards;
                animation-delay: 2.3s;
            }
        }

        .name_slogan {
            font-size: 1.4rem;
            font-weight: 200;
            animation: fadeIn 1.5s ease forwards;
            animation-delay: 3.5s;
            position: relative;
            top: -1rem;

            @media (max-width: 768px) {
                animation: fadeIn 1.5s ease forwards;
                animation-delay: 3.5s;
            }
        }

        .name_company,
        .name_slogan {
            text-transform: uppercase;
            opacity: 0;
        }

        @media (max-width: 480px) {
            transform: translateX(0rem);
        }
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes picture-move-x {
    to {
        transform: translateX(40%);
    }
}

@keyframes picture-move-x-mobile {
    to {
        transform: translateX(20%);
    }
}

@keyframes picture-to-navbar-mobile {
    from {
        max-width: 20rem;
    }
    to {
        max-width: 4rem;
    }
}