.container_windowsFullHero {
    position: relative;
}

.card-flip__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    perspective: 1000px;
    position: relative;

    .card-flip__inner {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.8s ease;
        transform-style: preserve-3d;

        .card-flip__front,
        .card-flip__back {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            backface-visibility: hidden;
            top: 0;
            left: 0;
        }

        .card-flip__front {
            z-index: 2;
            transform: rotateY(0deg);
        }

        .card-flip__back {
            transform: rotateY(180deg);
            z-index: 1;
        }
    }

    .card-flip__inner.flipped {
        transform: rotateY(180deg);
    }

    .flip_btn {
        background: transparent;
        position: absolute;
        top: 2%;
        right: 2%;
        z-index: 1;
        cursor: pointer;
        border-radius: 99rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn_front {
        animation: pulse 0.8s infinite;
        animation-delay: 5s;
    }

    .btn_back {
        transition: transform 0.8s ease;

        &:hover {
            transform: translateX(-5px);
        }
    }
}


@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #22266e;
    }
    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px #007bff00;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #007bff00;
    }
}