@use "src/styles/variables" as *;

.container-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	padding-top: 4rem;
	box-shadow: 0 2px 20px var(--color-acrylic);

	.container-footer-presentation {
		display: flex;
		justify-content: center;
		align-items: center;

		.container-names {

			.name_company {
				font-size: $font-display-xl;
				font-weight: 500;
				text-transform: uppercase;
			}

			.name_slogan {
				font-size: $font-heading-md;
				font-weight: 200;
				transform: translateY(-2rem);

				@media (max-width: 768px) {
					transform: translateY(-1rem);
				}
			}
		}
	}

	.container-footer-detailsInfo {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		max-width: 40rem;

		.footer-title {
			font-size: $font-heading-sm;
			text-align: center;
			margin-bottom: 1rem;
		}

		.footer-subtitle {
			font-size: $font-body-lg;
			text-align: center;

			.btn_email {
				color: var(--color-secondary);
                font-weight: bold;
                font-size: $font-body-lg
            }
		}

		.footer-links {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: 1fr;
			grid-column-gap: 20px;
			grid-row-gap: 0px;
			margin-top: 2rem;

			.btn_link {
				cursor: pointer;
				transition: transform 0.3s ease;

				&:hover {
					transform: scale(1.2);
				}
			}
		}

		@media (max-width: 768px) {
			max-width: 84vw;
			margin-top: 2rem;
			width: 100%;
		}
	}

	.footer-copyright {
		width: 100%;
		font-size: $font-body-md;
		text-align: center;
		margin: 0rem 0 2rem 0;
		padding: 2rem 0 0 0;
	}

	@media (max-width: 768px) {
		display: flex;
		justify-content: center;
	}
}