---
import { Logo } from "../assets/logo";
import '@styles/hero/hero.scss';
---

<section class="container_hero">
    <Logo
        colorBase="#cccccc"
        colorPrimary="#2e2e2e"
        className="logo"
    />
    <article class="container_presentation">
        <p class="name_company">Nival</p>
        <p class="name_slogan">chasing balance</p>
    </article>
</section>